#main .news {
  display: block;
  width: 100%;
  height: 93px;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
  background-color: white;
}

#main .news img {
  float: right;
  width: 130px;
  height: 73px;
}

#main .news h3 {
  display: block;
  overflow: hidden;
  width: calc(100% - 155px);
  height: 40px;
  margin-top: 5px;
  color: #000;
  font-size: 17px;
  line-height: 20px;
}

#main .news span {
  display: inline-block;
  height: 12px;
  margin-top: 17px;
  color: #ccc;
  font-size: 14px;
  line-height: 12px;
}